@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Lobster&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #004aad;
    min-height: 100%;
}

.join-card
{
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 20px;
    padding: 30px 10px;
}

.join-card a
{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.join-card a:hover
{
    color: #004aad;
    transition: 1s linear;
}

.btn-secondary
{
    background-color: #004aad !important;
    border: none !important;
}

.btn-secondary:hover
{
    background-color: #082953 !important;
    transition: 1s ease;
}
